In [9]:
## Funtion to print all combinations of pairs of integers in a unique list.

## [1,2,3] --> (1,2),(1,3),(2,3) --> ncr --> (n!/(n-r)!*r!) --> (3!/(3-2)! * 2!) Here n = no of elements in the list. 

## r = no.of combinations needed(here we need combination of two elements so r = 2)

## [1,2,3,4]  --> (1,2) , (1,3) , (1,4) , (2,3) , (2,4) , (3,4)


def combinations2(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
        
combinations([1,2,3])

1 2
1 3
2 3

In [15]:
## [1,2,3,4] --> (1,2,3) , (1,3,4) , (2,3,4) , (4,1,2)

def combinations3(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
        
combinations3([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [60]:
# For each pair of integers ,you find the absolute difference D between those integers and insert D into the array 
# (if it was not already present in the array)
def absoluteDifferencePairs(li):
    for i in range(len(li)):
        for j in range(len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d!=0:
                    li.append(d)
                    absoluteDifferencePairs(li)
    return li
absoluteDifferencePairs([1,9,8])

[1, 9, 8, 7, 6, 5, 4, 3, 2]

In [67]:
## second Method for above problem

## For each pair of integers, you find the absolute difference D between those integers and insert D into 
## array(if it was not already present in array).

## You repeat task 1 until the array becomes constant. This implies that the absolute difference between any two elements
## in the array is also an element present in the array.

## Write a program to find the Kth largest element of the array after all the operations have been performed. If there is no
## such element print -1

def medium(li,k):
    while True:
        li2 = differencePairs(li)
        print(li2)
        if li2[0] == li2[1]:
            break
    if len(li2[0]) >= k:
        return sorted(li2[0],reverse = True)[k-1]
    return -1

def differencePairs(li):
    cli = li.copy()
    new_ele = []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in new_ele:
                new_ele.append(d)
    li.extend(new_ele)
    #print(li)
    return [cli,li]
li = [3,6,9,12,2]
medium(li,2)

[[3, 6, 9, 12, 2], [3, 6, 9, 12, 2, 1, 4, 7, 10]]
[[3, 6, 9, 12, 2, 1, 4, 7, 10], [3, 6, 9, 12, 2, 1, 4, 7, 10, 5, 8, 11]]
[[3, 6, 9, 12, 2, 1, 4, 7, 10, 5, 8, 11], [3, 6, 9, 12, 2, 1, 4, 7, 10, 5, 8, 11]]

11

In [64]:
## List Data Referencing vs Data Copy
a = [1,2,3]
b = [1,3,2]
a = b.copy() # Data copy through indirect referencing
print(a)
a = b[:] # Data copy through direct referencing. All elements of b are copied to 'a'
print(a)
a = b
print(a)

[1, 3, 2]
[1, 3, 2]
[1, 3, 2]

### Set - Data Structure in Python

Represented by '{}'

In [72]:
a = {1,2,3,4,5}

a

{1, 2, 3, 4, 5}

In [74]:
a = {1,2,3,4,4,4,5} 
a ## Doesn't encourage duplicate elements.

{1, 2, 3, 4, 5}

In [77]:
a.add(8) ## To add one element to a set. Sets are mutable.

In [78]:
a

{1, 2, 3, 4, 5, 8}

In [81]:
## We cannot access elements of set through indexing or slicing.
## We can access through iteration.

for i in a:
    print(i , end = ' ')

1 2 3 4 5 8

In [82]:
b = {7,8,9} # Adds multiple elements as long as they are unique.

a.update(b)
a

{1, 2, 3, 4, 5, 7, 8, 9}

In [85]:
li = {'sandy','siva','prabhu',1,2,9,6,-1} ## A set can also contain strings

In [86]:
li

{-1, 1, 2, 6, 9, 'prabhu', 'sandy', 'siva'}

In [91]:
li.discard(-10) ## Removes the given element from the set.

In [92]:
li

{1, 2, 6, 9, 'prabhu', 'sandy', 'siva'}

In [94]:
li.remove(-10) ## We shouldn't use remove because if the given element is not present in set then it throws an error.
## Where as 'discard' function doesn't throw any error.

KeyError: -10

In [97]:
a = {10,9,8,4,5,6,7}
b = {2,3,4,5,5}

a.union(b) ## Combines all elements of both the sets. A U B = B U A

a.intersection(b)  ## Gives common elements present in both the sets.

{4, 5}

In [98]:
a.isdisjoint(b) ## Returns True if there are no common elements and vice versa.

False

In [99]:
c = {12,13,14,15}

a.isdisjoint(c) ## Returns True because there are no common elements in 'a' and 'c'

True

In [101]:
a - b ## Represents all elements of 'a' which are not in 'b'

b - a ## Returns all elements of 'b' which are not in 'a'

{2, 3}

In [104]:
sorted(a) ## returns a list in a sorted order. Converts set to a list

[4, 5, 6, 7, 8, 9, 10]

In [105]:
a ^ b # Returns elements either in a or in b

{2, 3, 6, 7, 8, 9, 10}

In [110]:
d = set() #Declaration of a set. Creates an empty set
d
d.add(1)
d

{1}

In [112]:
l = [1,1,1,1,2,2,2,3,3,4,4,4,5,5,6,7,7,8,8]
set(l) ## Returns a unique list. Its a costly operation. It takes some time. Using for loop is only faster.

{1, 2, 3, 4, 5, 6, 7, 8}

### Functional Programming in Python

    * List Comprehension
    * Iterators
    


* Procedural : C
* Object Oriented : Java , Python
* Scripting : PHP, Python, Javascript, Shell, Perl 
* Functional : Python, Haskell, Scala
* Logic(rules) : Prolog , Lisp

#### List Comprehensions

In [116]:
## N natural numbers in a list

n = 10
l = []
for i in range(1,n+1):
    l.append(i)
l

## It takes more lines.

## If we use list comprehension it becomes very simple.

li = [i for i in range(1,n+1)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [118]:
## Apply list comprehension to store the list of cubes of N natural numbers.
n = 10
li = [i**3 for i in range(1,n+1)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [136]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)
    
n = 5
factList = [factorial(i) for i in range(1,n+1)]
factList

[1, 2, 6, 24, 120]

In [2]:
## Calculate or store cumulative sum of numbers till n in a list
## Eg: if n = 3 [1,2,3] --> [1,3,6]

def cum_sum(n):
    l = []
    s = 0
    for i in range(1,n+1):
        s = s + i
        l.append(s)
    return l

n = 4
li = [sum(range(i+1)) for i in range(1,n+1)]
li

[1, 3, 6, 10]

In [9]:
## Function to store only leap years in a given time period

def isLeap(y):
    if ((y % 400 == 0) or (y % 4 == 0 and y % 100 != 0)):
        return True
    else:
        return False

def allLeapsInRange(sy,ey):
    listOfLeaps = []
    for i in range(sy,ey+1):
        if isLeap(i):
            listOfLeaps.append(i)
    return listOfLeaps
allLeapsInRange(1970,2019)

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [16]:
## Above problem using List Comprehension
st = 1970
et = 2019
li = [i for i in range(st,et+1) if isLeap(i)]
li

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [31]:
s = 'Mahesh'
sub = s[1:3]
s1 = s.replace(sub,'')
print(sub[::-1]+s1)

haMesh

In [29]:
li = [1,2,3,2,1,4,5]

## Unique array using list comprehension
li.sort()
u2 = []
unique = []
[u2.append(i) for i in li if i not in u2]
u2

[1, 2, 3, 4, 5]

### Iterators

* Iterables  - Strings, Lists, Tuples, Sets, Dictionary
* Convert Iterable to Iterator --> iter()
* For Loop : It doesn't stop until the condition is reached
* Iterator : It stops whenever we want.

In [34]:
it = iter('python')

print('1: ')
print(next(it))
print('\n')
print('2: ')
print(next(it))

1:
p


2:
y

### Generators

In [45]:
def generator():
    n = 2
    yield n
    
    n = n ** 3
    yield n
    
    n = n ** 3
    yield n
    
a = generator()

next(a)
next(a)

8

In [58]:
def gen():
    n = 2
    
    for i in range(4):
        n **= 3
        yield n
    
a = gen()

for i in range(4):
    print(next(a))

8
512
134217728
2417851639229258349412352