### Day Objectives:

* Map
* Filter
* Lambda
* Use cases - File / Data Encryption

### Map

Mapping  - Entity with function.

f : x^2 + 3*x + 9

x : [1,10]

f(x)

f(1) --> 1^2 + 3*1 + 9 = 13

f(2) --> 2^2 + 3*2 + 9 = 19

Map is a function which takes a function and Iterable. It sends every element of the iterable to the function.

Iterable --> Strings, Lists, Sets etc.,

map(function,iterable)

In [7]:
def power(base,exponent):
    p = 1
    for i in range(1,exponent+1):
        p = p * base
    return p
power(2,3)

8

In [9]:
def recPower(base,exp):
    if exp == 0:
        return 1
    elif exp == 1:
        return base
    else:
        return base * recPower(base,exp-1)
recPower(2,3)

8

In [10]:
def easyPower(base,exp):
    return base ** exp
easyPower(2,3)

8

In [46]:
pow(2,3)

8

In [44]:
def squareOfNumber(n):
    return n * n

li = [1,2,3,4,5]

print(list(map(squareOfNumber,li)))

## Using list comprehension

squaresList = [squareOfNumber(i) for i in li]
squaresList

[1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

###  Filter

Used to check boolean values

In [21]:
li = [1,2,'a','b','c',3]

def isDigit(c):
    c = str(c)
    if c.isdigit():
        return True  ## We can also use 0 and 1 for boolean values. 0 is for False and any other number can be represented as true.
    return False     ## Instead of giving True, we can give any number. But for false we must give only '0'
isDigit('1')  

list(filter(isDigit,li)) ## Returns elements which are digits.

[1, 2, 3]

In [36]:
## Use filter function to identify all primes in a range

def isPrime(n):
    c = 0
    if n < 2:
        return False
    for i in range(2,n//2+1):
        if n % i == 0:
            c += 1
    if c == 0:
        return True
    else:
        return False

isPrime(1)

False

In [37]:
## Using Filter function

lb , ub = 500 , 600
primelist = list(filter(isPrime,range(lb,ub+1)))
print(primelist)

[503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599]

In [38]:
## Using list comprehension

lb , ub = 500 , 600
primeList = [i for i in range(lb,ub+1) if isPrime(i)]
primeList

[503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599]

In [42]:
## Using map function
lb , ub = 500 , 510
primeList = list(map(isPrime,range(lb,ub+1)))
primeList

## Map fails because it doesn't apply for checking conditions. It is returning boolean values but not the elements.

[False, False, False, True, False, False, False, False, False, True, False]

### Lambda

Anonymous Functions

Can be embedded into List Comprehensions, Maps, Filters.

In [57]:
a = lambda x: x ** 3

a(3) ### Represents an object to the anonymous number.

list(map(lambda x:x**3,range(1,11)))

list(filter(lambda x:(x % 2 == 0) , range(1,11)))

[2, 4, 6, 8, 10]

In [64]:
from random import randint

internal1  = [randint(0,25) for i in range(10)]
internal2 = [randint(0,25) for i in range(10)]
internal3 = [randint(0,25) for i in range(10)]

averageInternal = list(map(lambda x,y,z: (x+y+z)//3,internal1,internal2,internal3))
print(averageInternal)

failedMarks = list(filter(lambda x:x<10,averageInternal))
failedMarks

[16, 11, 13, 14, 19, 7, 9, 18, 13, 10]

[7, 9]

### Applying Functional Programming to the Marks Analysis Application

In [70]:
# Generating Marks Data
def generateMarks(n,lb,ub):
    filename = 'Packages/marks.txt'
    with open(filename,'w') as f:
        for i in range(n):
            marks = randint(lb,ub)
            f.write(str(marks)+'\n')
    return
generateMarks(100,1,100)

In [80]:
# Marks Analysis
# Class Average , % Passed, % Failed, % Distinction, Frequency of highest and lowest marks.
def readMarks(filepath):
    with open(filepath,'r') as f:
        str_marks = f.read().split('\n')
    str_marks.pop()
    int_marks_list = list(map(int,str_marks))
    return int_marks_list

In [81]:
def classAverage(filepath):
    marks = readMarks('Packages/marks.txt')
    return sum(marks)//len(marks)
classAverage('Packages/marks.txt')

50

In [87]:
def percentageFailed(filepath):
    marks = readMarks(filepath)
    failedMarks = list(filter(lambda x:x<35,marks))
    return (len(failedMarks)/len(marks)) * 100
percentageFailed('Packages/marks.txt')

34.0

In [85]:
def percentagePassed(filepath):
    return 100 - percentageFailed(filepath)
percentagePassed('Packages/marks.txt')

66.0

In [86]:
def distinctionPercentage(filepath):
    marks = readMarks(filepath)
    distinctionMarks = list(filter(lambda x : x > 70 ,marks))
    return (len(distinctionMarks)/len(marks)) * 100
distinctionPercentage('Packages/marks.txt')

30.0

In [91]:
def highestFreq(filepath):
    marks = readMarks(filepath)
    max_mark = max(marks)
    print(f'Miximum mark is {max_mark}')
    return marks.count(max_mark)
highestFreq('Packages/marks.txt')

Miximum mark is 100

3

In [92]:
def lowestFreq(filepath):
    marks = readMarks(filepath)
    min_mark = min(marks)
    print(f'Minimum mark is {min_mark}')
    return marks.count(min_mark)
lowestFreq('Packages/marks.txt')

Minimum mark is 2

2

### Data Encryption

Key - Mapping of characters with replaced 

- 0 -> 4
- 1 -> 5
- 2 -> 6
- 3 -> 7
- 4 -> 8
- 5 -> 9
- 6 -> 0
- 7 -> 1 
- 8 -> 2
- 9 -> 3




- 0 4
- 1 5
- 2 6
- 3 7
- 4 8
- 5 9
- 6 0
- 7 1
- 8 2
- 9 3

In [96]:
keypath = 'Packages/key.txt'
def generateKey(keypath):
    with open(keypath,'w') as f:
        for i in range(10):
            if i < 6:
                f.write(str(i)+' '+str(i+4)+'\n')
            else:
                f.write(str(i)+' '+str(i-6)+'\n')
    return
generateKey(keypath)

In [22]:
def readKeyDataInDic(filepath):
    key= {}
    with open(filepath,'r') as f:
        for line in f:
            line = line.split()
            #print(line)
            key[line[0]] = line[1]
    return key
readKeyDataInDic('Packages/key.txt')

{'0': '4',
 '1': '5',
 '2': '6',
 '3': '7',
 '4': '8',
 '5': '9',
 '6': '0',
 '7': '1',
 '8': '2',
 '9': '3'}

In [27]:
def encryptMarksData(datafile,keyfile):
    # Construct a dictionary for key data
    key = readKeyDataInDic(keyfile)
    
    with open(datafile,'r') as f:
        marks = f.read().split()
    
    with open('Packages/encryptedMarks.txt','w') as f:
        for mark in marks:
            line = ''
            for i in mark:
                line += key[i]
            f.write(line + '\n')
    return
import timeit
st = timeit.default_timer()
encryptMarksData('Packages/marks.txt','Packages/key.txt')    
et = timeit.default_timer()
print(et-st)

0.01612800899965805

In [18]:
def decryptMarksData(encryptedfile,keyfile):
    key = readKeyDataInDic(keyfile)
    new_key = {}
    
    ## Reversing a dictionary
    for key,value in key.items():
        new_key[value] = key
    #print(new_key)
    
    with open(encryptedfile,'r') as f:
        enc_marks = f.read().split()
        #print(enc_marks)
    
    with open('Packages/decryptedfile.txt','w') as f:
        for mark in enc_marks:
            line = ''
            for i in mark:
                line += new_key[i]  
            f.write(line + '\n')
                
    return               
decryptMarksData('Packages/encryptedMarks.txt','Packages/key.txt')

In [8]:
ord('0')

48

In [12]:
chr(48)

'0'

In [2]:
def isPrime(num):
    c = 0
    if num == 1:
        return False
    for i in range(2,num//2+1):
        if num % i == 0:
            c += 1
    if c == 0:
        return True
    else:
        return False

In [3]:
s = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
p = [ord(i) for i in s if isPrime(ord(i))]
p

[67, 71, 73, 79, 83, 89]

In [4]:
s = 'abcdefghijklmnopqrstuvwxyz'
p = [ord(i) for i in s if isPrime(ord(i))]
p

[97, 101, 103, 107, 109, 113]

In [26]:
key = readKeyDataInDic('Packages/key.txt')
key

## Dictionary Comprehension

evenkeys = {item for item in key.items() if int(item[0]) % 2 == 0}
evenkeys

{('0', '4'), ('2', '6'), ('4', '8'), ('6', '0'), ('8', '2')}

### Pandas

#### Usecases
- Data Cleaning
- Data Transformation
- Data Analysis

#### Notations
- In Pandas Series represents 1D Array
- DataFrames represents 2D Array

In [45]:
import pandas as pd

internal1 = {'s1':21,'s2':18,'s3':24}

internal2 = {'s1':25,'s2':18,'s3':89}

internal1 = pd.Series(internal1)

internal2 = pd.Series(internal2)

internal1

internal2

final = {'Internal 1':internal1,'Internal 2':internal2}
final = pd.DataFrame(final)
#final['Internal 1']
final

    Internal 1  Internal 2
s1          21          25
s2          18          18
s3          24          89

In [37]:
final.columns # Returns list of columns of data frame

Index(['Internal 1', 'Internal 2'], dtype='object')

In [39]:
final.values # Returns array of all rows

array([[21, 25],
       [18, 18],
       [24, 89]], dtype=int64)

In [41]:
final.values[2] # returns 3rd row

array([24, 89], dtype=int64)

In [43]:
final.values[2,0] # returns 3rd row 0th column

24

In [54]:
for row in final.values:
    print('Internal1 = ',row[0],'Internal2 = ',row[1])

Internal1 =  21 Internal2 =  25
Internal1 =  18 Internal2 =  18
Internal1 =  24 Internal2 =  89

In [55]:
final

    Internal 1  Internal 2
s1          21          25
s2          18          18
s3          24          89

In [58]:
final.loc['s4'] = [7,89] 
final

    Internal 1  Internal 2
s1          21          25
s2          18          18
s3          24          89
s4           7          89

In [62]:
final=final.drop('s4')

In [65]:
final.values[2]=[25,78] # Updating elements.

In [66]:
final

    Internal 1  Internal 2
s1          21          25
s2          18          18
s3          25          78

In [67]:
# Reading csv file data
import pandas as pd
filepath = 'Packages/income.csv'
incomedf = pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [70]:
# Extract income of all states in 2013

for row in incomedf.values:
    print('State = ',row[1],'Income = ',row[-1])

State =  Alabama Income =  41381
State =  Alaska Income =  61137
State =  Arizona Income =  50602
State =  Arkansas Income =  39919
State =  California Income =  57528

In [75]:
# Average income of a particular state
sum = 0
for i in range(2,11):
    sum += incomedf.values[2,i]
print(sum//len(incomedf.values[2][2:])) # 2 is the row. 2: is to start the length from 2nd column to end.

47214

In [79]:
# Average income of all states in 2012
sum = 0
c = 0
for row in incomedf.values:
    sum = sum + row[9]
    c += 1
sum//len(incomedf.values) ## len(incomedf.values) returns no.of rows , len(incomedf.values[0]) returns no.of columns

50038

In [80]:
len(incomedf.values[0])

11

In [5]:
def closest_prime(x, prs):
    index = bisect_left(prs, x)
    return min(prs[max(index-1, 0):index+1], key=lambda p: abs(p-x))

In [3]:
n = int(input())
s = input().split()
#l = list(map(int,s))
s

5
1 2 3 4 5

['1', '2', '3', '4', '5']